POSTGRES_USER=admin
POSTGRES_PASSWORD=111
POSTGRES_DB=db
DB_HOST=db
DEBUG=False
SECRET_KEY=K!v@3X9u$1zR&8mT^yL0pQw2Ce7Jh5NdFfZaUcGlBhVoSrY
ALLOWED_HOSTS=yourdomain.com,127.0.0.1,localhost
BASE_URL=https://yourdomain.com